.notifications {
  margin-top: 50px;
  margin-left: 50px;
}

.like_div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7px;
  width: 500px;
  border: 1px solid #000000;
  background-color: rgb(92, 152, 205);
}

.like_post {
  width: 5%;
  height: 5%;
}


.follow_div {

  width: 500px;
  display: flex;
  align-items: center;
  border: 1px solid #000000;

}

.follow_text {
  margin-left: 90px;
}

.clear_text:hover {
  cursor: pointer;
  color: blue;
}

.clear_text::before {

  cursor: pointer;
}

.no_not_text {
  font-size: 2rem;
  margin: 140px;
}
.no_not_text_div{
  background-color: rgb(185, 213, 217);
  width: 500px;
}