.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(134, 131, 131);
}
.header > a {
  width: 2vmax;
  height: 2vmax;
  margin: 1vmax 4vmax;
}
.header > a > svg {
  font-size: 2vmax;
  transition: all 0.5s;
  color:white;
}

.header > a > svg:hover {
  color: white;
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .header > a {
    width: 8vw;
    height: 8vw;
    margin: 2vw 8vw;
  }
  .header > a > svg {
    font-size: 8vw;
  }
}
